USE [EVA_PROINTEL]
GO
/****** Object:  StoredProcedure [dbo].[SP_MANAGE_USER]    Script Date: 6/1/2026 10:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[SP_MANAGE_USER](
    @ID_OPERATION_TYPE  VARCHAR(50)  = NULL,
    @USER_ID VARCHAR(44)  = NULL,
    @NAME_USER VARCHAR(250) = NULL,
    @LAST_NAME_USER VARCHAR(250) = NULL,
    @AGE INT = NULL,
    @STATUS VARCHAR(1)   = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF(@ID_OPERATION_TYPE = 'CREATE_USER')
    BEGIN
        IF (@STATUS NOT IN ('A', 'I'))
        BEGIN
            SELECT '30' AS responseCode, 'STATUS ONLY CAN BE A,I OR P' AS reasonText;
            RETURN;
        END

        BEGIN TRY
            BEGIN TRAN
                INSERT INTO [user](
                    idUser,
                    nameUser,
                    lastNameUser,
                    age,
                    statusUser,
                    createDate
                )
                VALUES (
                    @USER_ID,
                    @NAME_USER,
                    @LAST_NAME_USER,
                    @AGE,
                    @STATUS,
                    GETDATE()
                );

                IF (@@ROWCOUNT = 0)
                BEGIN
                    ROLLBACK TRAN;
                    SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText;
                    RETURN;
                END
            COMMIT TRAN;
            SELECT '00' AS responseCode, 'USER SUCCESS ADDED' AS reasonText;
        END TRY
        BEGIN CATCH
            IF (XACT_STATE() <> 0)
                ROLLBACK TRAN;
            SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText;
        END CATCH
    END

END