USE [EVA_PROINTEL]
GO
/****** Object:  StoredProcedure [dbo].[SP_MANAGE_TASK]    Script Date: 6/1/2026 10:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_MANAGE_TASK](
    @ID_OPERATION_TYPE  VARCHAR(50)  = NULL,
    @TASK_ID            VARCHAR(44)  = NULL,
    @NAME_TASK          VARCHAR(100) = NULL,
    @DESCRIPTION_TASK   VARCHAR(500) = NULL,
    @PRIORITY           VARCHAR(50)  = NULL,
    @ID_RESPONSABLE     VARCHAR(44)  = NULL,
    @PATCH_PRIORITY  VARCHAR(50) = NULL,
    @DATE_LIMIT         VARCHAR(12)  = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@ID_OPERATION_TYPE = 'CREATE_TASK')
    BEGIN
        IF (@TASK_ID IS NULL OR @NAME_TASK IS NULL OR @ID_RESPONSABLE IS NULL OR @DATE_LIMIT IS NULL)
        BEGIN
            SELECT '30' AS responseCode, 'MISSING FILES' AS reasonText;
            RETURN;
        END

        IF (@PRIORITY NOT IN('PENDIENTE','EN_PROGRESO','COMPLETADA','CANCELADA'))
        BEGIN
            SELECT '30' AS responseCode, 'INVALID PRIORITY' AS reasonText;
            RETURN;
        END

        IF (CAST(CONVERT(DATETIME, @DATE_LIMIT, 120) AS DATE) < CAST(GETDATE() AS DATE))
        BEGIN
            SELECT '30' AS responseCode, 'INVALID DATE' AS reasonText;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM [user] WHERE idUser = @ID_RESPONSABLE)
        BEGIN
            SELECT '30' AS responseCode, 'USER NOT FOUND' AS reasonText;
            RETURN;
        END

        BEGIN TRY
            BEGIN TRAN
                INSERT INTO TASK (
                    idTask,
                    nameTask,
                    descriptionTask,
                    priorityTask,
                    dateLimit,
                    statusTask,
                    createDate
                )
                VALUES (
                    @TASK_ID,
                    @NAME_TASK,
                    @DESCRIPTION_TASK,
                    @PRIORITY,
                    CONVERT(DATETIME, @DATE_LIMIT, 120),  -- cast al insertar
                    'A',
                    GETDATE()
                );

                IF (@@ROWCOUNT = 0)
                BEGIN
                    ROLLBACK TRAN;
                    SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText;
                    RETURN;
                END

                INSERT INTO TASK_USER_ASIGNED (
                    idTask,
                    idUser,
                    statusTaskUser,
                    createDate
                )
                VALUES (
                    @TASK_ID,
                    @ID_RESPONSABLE,
                    'A',
                    GETDATE()
                );

                IF (@@ROWCOUNT = 0)
                BEGIN
                    ROLLBACK TRAN;
                    SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText;
                    RETURN;
                END

            COMMIT TRAN;
            SELECT '00' AS responseCode, 'TASK SUCCESS ADDED' AS reasonText;

        END TRY
        BEGIN CATCH
            IF (XACT_STATE() <> 0)
                ROLLBACK TRAN;
            SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText; 
            RETURN;
        END CATCH
    END

   IF (@ID_OPERATION_TYPE = 'PATCH_TASK')
   BEGIN

        IF (@TASK_ID IS NULL)
        BEGIN
            SELECT '30' AS responseCode, 'MISSING TASK ID' AS reasonText;
            RETURN;
        END

        IF (@PATCH_PRIORITY IS NOT NULL AND @PATCH_PRIORITY NOT IN ('PENDIENTE', 'EN_PROGRESO', 'COMPLETADA', 'CANCELADA'))
        BEGIN
            SELECT '30' AS responseCode, 'INVALID PRIORITY' AS reasonText;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM TASK WHERE idTask = @TASK_ID)
        BEGIN
            SELECT '30' AS responseCode, 'TASK NOT FOUND' AS reasonText;
            RETURN;
        END

        BEGIN TRY
            BEGIN TRAN

                UPDATE TASK 
                SET priorityTask = @PATCH_PRIORITY,
                    statusTask   = 'U',
                    updateDate = GETDATE()
                WHERE idTask = @TASK_ID;

                UPDATE task_user_asigned 
                SET 
                    statusTaskUser   = 'U',
                    updateDate = GETDATE()
                WHERE idTask = @TASK_ID;

                IF (@@ROWCOUNT = 0)
                BEGIN
                    ROLLBACK TRAN;
                    SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText;
                    RETURN;
                END

            COMMIT TRAN;
            SELECT '00' AS responseCode, 'TASK SUCCESS UPDATED' AS reasonText;

        END TRY
        BEGIN CATCH
            IF (XACT_STATE() <> 0)
                ROLLBACK TRAN;
            SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText; 
            RETURN;
        END CATCH
    END


       IF (@ID_OPERATION_TYPE = 'REPORT_TASK')
   BEGIN

        BEGIN TRY
            BEGIN TRAN

                 SELECT
                  t.priorityTask,                                 
                  COUNT(t.idTask) countTask,                              
                  AVG(DATEDIFF(DAY, t.createDate, t.dateLimit)) promedio
                FROM task t
                JOIN task_user_asigned tua ON tua.idTask = t.idTask
                WHERE tua.idUser   = @ID_RESPONSABLE
                AND   t.createDate >= DATEADD(DAY, -30, GETDATE())
                GROUP BY t.priorityTask

                IF (@@ROWCOUNT = 0)
                BEGIN
                    ROLLBACK TRAN;
                    SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText;
                    RETURN;
                END

            COMMIT TRAN;
            SELECT '00' AS responseCode, 'TASK SUCCESS UPDATED' AS reasonText;

        END TRY
        BEGIN CATCH
            IF (XACT_STATE() <> 0)
                ROLLBACK TRAN;
            SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText; 
            RETURN;
        END CATCH
    END


END