USE [EVA_PROINTEL]
GO
/****** Object:  StoredProcedure [dbo].[SP_MANAGE_CUSTOMFIND]    Script Date: 6/1/2026 10:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_MANAGE_CUSTOMFIND](
    @ID_OPERATION_TYPE VARCHAR(50) = NULL,
    @RESPONSABLE       VARCHAR(44) = NULL,
    @STATUS            VARCHAR(50) = NULL,
    @DESDE             VARCHAR(12) = NULL,
    @HASTA             VARCHAR(12) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@ID_OPERATION_TYPE = 'CUSTOM_FIND')
    BEGIN
        BEGIN TRY

            SELECT 
                t.idTask,
                t.nameTask,
                t.descriptionTask,
                t.priorityTask,
                t.dateLimit
            FROM task t
            JOIN task_user_asigned tua ON tua.idTask = t.idTask
            WHERE t.priorityTask = ISNULL(IIF(@STATUS = '', NULL, @STATUS), t.priorityTask)
            AND tua.idUser = ISNULL(IIF(@RESPONSABLE = '', NULL, @RESPONSABLE), tua.idUser)
            AND (
                (@DESDE IS NULL AND @HASTA IS NULL)
                OR
                (@DESDE IS NOT NULL AND @HASTA IS NOT NULL
                    AND t.dateLimit BETWEEN CONVERT(DATETIME, @DESDE, 120) AND CONVERT(DATETIME, @HASTA, 120))
                OR
                (@DESDE IS NOT NULL AND @HASTA IS NULL
                    AND t.dateLimit >= CONVERT(DATETIME, @DESDE, 120))
                OR
                (@DESDE IS NULL AND @HASTA IS NOT NULL
                    AND t.dateLimit <= CONVERT(DATETIME, @HASTA, 120))
            )


        END TRY
        BEGIN CATCH
            IF (XACT_STATE() <> 0)
                ROLLBACK TRAN;
            SELECT '96' AS responseCode, 'CONTACT SUPPORT' AS reasonText; 
            RETURN;
        END CATCH
    END

END