PORT= (PUERTO DEL API)
NODE_ENV= (ENTORNO DE DESARROLLO)
DB_USER= (USARIO DE BASE DE DATOS)
DB_PASSWORD= (PASSWORD)
DB_HOST= (IP DEL SERVIDOR/LOCALHOS DONDE SE ENCUENTRA SQL SERVER)
DB_NAME= (NOMBRE DE LA BASE DE DATOS)
DB_PORT= (PUERTO DONDE ESTA HOSTEADA LA DB)